<div class="container">
    <h1>{{message}}</h1>

    <table class="table">
        <tr>
            <th>Title</th>
            <th>Length</th>
            <th>Rating</th>
            <th></th>
        </tr>

        <tr *ngFor="let movie of movies">
            <td [ngClass]="rateMovie(movie)">{{movie.title}}</td>
            <td>{{movie.length}}</td>
            <td>{{movie.rating}}</td>
            <td>
                <button class="btn btn-default" (click)="movie.decreaseRating()">-</button>
                <button class="btn btn-default" (click)="movie.increaseRating()">+</button>
            </td>
        </tr>
    </table>
</div>